# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
public/My Work/Brand Ads/Sequence 02.mp4
public/My Work/Brand Ads/10Xer Sandbox - Phone Pe.pptx
public/My Work/Brand Ads/Georgette.mp4
public/My Work/Brand Ads/Tiger Tiger R2.mp4
public/My Work/Brand Ads/Brand Ad.mp4
public/My Work/Brand Ads/Search ad update (2).mov
public/My Work/Brand Ads/Emoi(n title).mp4
